<div class="row">
  <sup-notification status="info">
    The heads on Easter Island have bodies
  </sup-notification>
</div>

<div class="row" style="--delay: .15s">
  <sup-notification status="success">
    It’s illegal to own only one guinea pig in Switzerland (They get lonely)
  </sup-notification>
</div>

<div class="row" style="--delay: .20s">
  <sup-notification status="warning">
    IKEA consumes about 1 percent of the world's lumber
  </sup-notification>
</div>

<div class="row" style="--delay: .25s">
  <sup-notification status="error">
    When Hattie McDaniel became the first African American to win an
    Oscar in 1940, she had to make her way to the stage from a segregated
    table at the back of the room
  </sup-notification>
</div>
