<div class="d-flex flex-column w-full">
  <p class="sup-text-body-md mb-4 sup-text-muted">button
    <span class="bold color-black"> [supButton]</span> or a
    <span class="bold color-black"> [supButton]</span>
  </p>
  <div class="d-flex gap-x-3">
    <button supButton>Primary</button>
    <button appearance="secondary" supButton>Secondary</button>
    <button appearance="tertiary" supButton>Tertiary</button>
    <button appearance="accent" supButton>Accent</button>
    <button appearance="flat" supButton>Flat</button>
  </div>

  <hr class="sup-divider light mt-6 mb-5"/>

  <p class="sup-text-body-md mb-4 sup-text-muted">button
    <span class="bold color-black"> [supIconButton]</span> or a
    <span class="bold color-black"> [supIconButton]</span>
  </p>
  <div class="d-flex gap-x-3">
    <button icon="appList" supIconButton></button>
    <button icon="appListPlus" appearance="secondary" supIconButton></button>
    <button icon="appFormArrow" appearance="tertiary" supIconButton></button>
    <button icon="html" appearance="accent" supIconButton></button>
    <button icon="appSearch" appearance="flat" supIconButton></button>
  </div>
</div>
