<div class="aside-container">
  <div class="aside-title">On this page</div>
  <ul class="aside-list">
    <li *ngFor="let section of sections">
      <!--      <div [style.top.px]="getMarkerPosition()"-->
      <!--           *ngIf="currentSection"-->
      <!--           class="li-marker">-->
      <!--      </div>-->
      <a [class.active]="section.id === currentSection"
         [id]="section.id"
         (click)="scrollToSection(section)"
         class="aside-link">
        {{section.title}}
      </a>
    </li>
  </ul>
</div>
