:root {
  // @Colors buttons
  --app-color-btn-danger-bg: #FFF5F4;
  --app-color-btn-danger-bg-hover: #FFEFEE;
  --app-color-btn-danger-bg-active: #FEEBE8;
  --app-color-btn-danger-text: #CD2419;
  --app-color-btn-danger-border: #E5BDBA;

  // @Colors naming-utils
  --app-color-lavender-indigo: #9B51E0;
  --app-color-denim: #146CBD;
  --app-color-tangerine: #F18200;
  --app-copor-green-crayola: #20A463;
}
