<nav appNav>
  <app-nav-item icon="appList">
    Documentation
    <app-nav-group>
      <app-nav-item routerLink="introduction">Introduction</app-nav-item>
      <app-nav-item [disabled]="true">Quick Start</app-nav-item>
      <app-nav-item [disabled]="true">Changelog</app-nav-item>
    </app-nav-group>
    <app-nav-divider/>
  </app-nav-item>
  <app-nav-item showCounter icon="appComponent">
    Components
    <app-nav-group label="Core">
      <app-nav-item marked routerLink="components/alert">Alert</app-nav-item>
      <app-nav-item marked routerLink="components/button">Button</app-nav-item>
      <app-nav-item marked routerLink="components/notification">Notification</app-nav-item>
      <app-nav-item routerLink="components/icon">Icon</app-nav-item>
      <app-nav-item routerLink="components/dialog">Dialog</app-nav-item>
      <app-nav-item routerLink="components/dropdown">Dropdown</app-nav-item>
      <app-nav-item routerLink="components/tooltip">Tooltip</app-nav-item>
    </app-nav-group>

    <app-nav-group label="Form">
      <app-nav-item routerLink="components/text-field">Textfield</app-nav-item>
      <app-nav-item [disabled]="true">Label</app-nav-item>
      <app-nav-item routerLink="components/textarea">Textarea</app-nav-item>
      <app-nav-item [disabled]="true">Autocomplete</app-nav-item>
      <app-nav-item routerLink="components/date-picker">Date Picker</app-nav-item>
      <app-nav-item routerLink="components/select">Select</app-nav-item>
    </app-nav-group>

    <app-nav-group label="Data">
      <app-nav-item routerLink="components/accordion">Accordion</app-nav-item>
      <app-nav-item marked routerLink="components/table">Table</app-nav-item>
      <app-nav-item marked routerLink="components/tabs">Tabs</app-nav-item>
    </app-nav-group>
  </app-nav-item>
  <app-nav-item showCounter icon="appCode">
    CDK (Dev Kit)
    <app-nav-group>
      <app-nav-item routerLink="tools/operators">RXJS Operators</app-nav-item>
      <app-nav-item routerLink="tools/type-guards">Type Guards</app-nav-item>
      <app-nav-item [disabled]="true">Dom Handler</app-nav-item>
      <app-nav-item [disabled]="true">TS Mixins</app-nav-item>
      <app-nav-item routerLink="tools/memoize">Memoize Decorator</app-nav-item>
    </app-nav-group>
  </app-nav-item>
</nav>

<div class="sidebar-footer">
  Version 0.1.0
</div>
