<nav appNav>
  <app-nav-item icon="appList">
    Getting started
    <app-nav-group>
      <app-nav-item routerLink="introduction">Introduction</app-nav-item>
      <app-nav-item>Quick Start</app-nav-item>
    </app-nav-group>
    <app-nav-divider/>
  </app-nav-item>

  <app-nav-item icon="appCellType">
    Components
    <app-nav-group label="Core">
      <app-nav-item routerLink="components/button">Button</app-nav-item>
      <app-nav-item routerLink="components/notification">Notification</app-nav-item>
      <app-nav-item>Dialog</app-nav-item>
    </app-nav-group>

    <app-nav-group label="Form">
      <app-nav-item>Autocomplete</app-nav-item>
      <app-nav-item>Textfield</app-nav-item>
      <app-nav-item>Combobox</app-nav-item>
    </app-nav-group>

    <app-nav-group label="Data">
      <app-nav-item>Accordion</app-nav-item>
      <app-nav-item>Table</app-nav-item>
    </app-nav-group>
  </app-nav-item>

  <app-nav-item>
    CDK (Dev Kit)
  </app-nav-item>
</nav>
