<div appPage>
  <header appPageHeader>
    <h1>Dropdown</h1>
    <p>
      SupDropdown allows you to display certain content (Reflective Content) passed as an Input property in a separate
      overlay container. Additionally, you can adjust the position of the
      dropdown and its size relative to the trigger
    </p>
    <sup-notification [hasClose]="false" status="warning">
      The dropdown is opened by 'click' event only
    </sup-notification>
  </header>

  <hr appPageDivider/>

  <div appSectionWrapper>
    <section appSection>
      <h2>Dropdown from TemplateRef</h2>
      <app-dropdown-template-demo/>
    </section>
  </div>
</div>
