<div appPage>
  <div class="d-flex flex-items-center flex-justify-between mb-5">

    <div class="d-flex flex-items-center">
      <h1 class="h1">
        Button
      </h1>
      <!--      <span class="headline-divider"></span>-->
      <!--      <label class="headline-label">-->
      <!--        <i src="appCheckCircle" supIcon></i>-->
      <!--        coreteq/uikit-->
      <!--      </label>-->
    </div>

    <div class="code-btn">
      <i src="appCode" supIcon></i>
    </div>
  </div>

  <p class="sup-text-body-md sup-text-paragraph">
    SupButtonModule is a module with components supButton, supIconButton are components to use them with native button
    and
    a elements. See setup to prepare workspace for the buttons
  </p>

  <hr class="sup-divider mt-8 mb-10"/>

  <app-section-list>
    <section name="Color Modes" appPageSection>
      <p class="sup-text-body-md sup-text-paragraph mb-5">
        Default button is a set of different styles
      </p>
      <app-default-button-demo/>
    </section>

    <section name="Size & Shape" appPageSection>
      <p class="sup-text-body-md sup-text-paragraph mb-5">
        Default button is a set of different styles
      </p>
      <app-button-size-shape-demo/>
    </section>

    <section name="States" appPageSection>
      <p class="sup-text-body-md sup-text-paragraph mb-5">
        Default button is a set of different styles
      </p>
      <app-button-states-demo/>
    </section>

    <section name="Customization" appPageSection>
      <p class="sup-text-body-md sup-text-paragraph mb-5">
        Default button is a set of different styles
      </p>
      <app-button-states-demo/>
    </section>
  </app-section-list>
</div>
