<div appPage>
  <header appPageHeader>
    <h1>Button</h1>
    <p>
      SupButtonComponent is a standalone component that used with native button and a elements. The component has two
      selectors supButton for rendering buttons or links with text and supIconButton for rendering a single icon
    </p>
  </header>

  <hr appPageDivider/>

  <div appSectionWrapper>
    <section appSection>
      <h2>Color Modes</h2>
      <p>Default button is a set of different styles</p>
      <app-default-button-demo/>
    </section>

    <section appSection>
      <h2>Size & Shape</h2>
      <p>Default button is a set of different styles</p>
      <app-button-size-shape-demo/>
    </section>

    <section appSection>
      <h2>States</h2>
      <p>Default button is a set of different styles</p>
      <app-button-states-demo/>
    </section>

    <section appSection>
      <h2>Customization</h2>
      <p>Default button is a set of different styles</p>
      <div class="hint mt-4">
        <i src="appSass" supIcon></i>

        <div class="hint__text">
          For customization you can use <span class="mark">internal</span> mixins. Learn more
        </div>
      </div>
      <app-button-customization-demo/>
    </section>

    <section appSection>
      <h2>Options Token</h2>
      <p>Default button is a set of different styles</p>
    </section>
  </div>
</div>
