/* You can add global styles to this file, and also import other style files */
@import "../../../libs/uikit/styles/supply-uikit";

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  font-family: 'Inter', sans-serif;
  overflow: auto;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  height: 100vh;
  font-size: 1rem;
  position: relative;
  width: 100%;
  background: #fff;
}

body, p, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

input, button, textarea, select {
  font: inherit;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

input,
input:focus,
input:active {
  outline: none;
}

textarea {
  overflow: auto;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: inherit;
  margin: 0;
}

button, select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  border: none;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner {
  border: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
}

details {
  display: block;
}

[hidden] {
  display: none;
}

b,
strong {
  font-weight: bolder;
}

::placeholder {
  color: unset;
}

i {
  display: inline-block;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}



