<sup-accordion>
  <sup-accordion-item>
    <ng-container ngProjectAs="supTitle">Random Fact 1</ng-container>
    Abraham Lincoln had the opportunity to populate the United States
    with elephants. He turned the offer down
  </sup-accordion-item>

  <sup-accordion-item>
    <ng-container ngProjectAs="supTitle">Random Fact 2</ng-container>
    The swirling blue shades of the Marble Caves in Chile are a
    reflection of the turquoise lake waters below them. The hues change
    subtly as sea levels fall and rise
  </sup-accordion-item>

  <sup-accordion-item>
    <ng-container ngProjectAs="supTitle">Random Fact 3</ng-container>
    The average American typically eats between 3000 and 5000 calories
    at Thanksgiving dinner
  </sup-accordion-item>
</sup-accordion>
