<div appPage>
  <header appPageHeader>
    <h1>Alert</h1>
    <p>
      SupAlertModule is designed to work with push notifications on a page that contain messages with the status. To
      display notifications with options, use SupAlertService with the push() method
    </p>
  </header>

  <hr appPageDivider>

  <div appSectionWrapper>
    <section appSection>
      <h2>Basic Example</h2>
      <p>Example of calling a push notification with a custom message</p>
      <app-alert-basic-demo/>
    </section>

    <section appSection>
      <h2>Status Example</h2>
      <p>Push notifications are delivered together with the SupNotificationComponent and include 4 different
        statuses</p>
      <app-alert-status-demo/>
    </section>
  </div>
</div>
