<div appPage>
  <header appPageHeader>
    <h1>Alert</h1>
    <p>
      SupAlertModule is designed to work with push notifications on a page that contain messages with the status. To
      display notifications with options, use SupAlertService with the push() method
    </p>
  </header>

  <hr appPageDivider>

  <div appSectionWrapper>
    <section appSection>
      <h2>Basic Example</h2>
      <p>Default button is a set of different color modes</p>
      <app-alert-basic-demo/>
    </section>

    <section appSection>
      <h2>Status Example</h2>
      <p>Default button is a set of different color modes</p>
      <app-alert-status-demo/>
    </section>
  </div>
</div>
