<div appPage>
  <header appPageHeader>
    <h1>Notification</h1>
    <p>
      SupNotificationComponent is a standalone component for displaying notifications on a page with different statuses
      and the ability to close. This component is also used in SupAlertModule for push notifications.
    </p>
  </header>

  <hr appPageDivider/>

  <div appSectionWrapper>
    <section appSection>
      <h2>Status</h2>
      <app-notification-status-demo/>
    </section>

    <section appSection>
      <h2>Close Event</h2>
      <p>To display the closing icon, you can use the [hasClose] attribute and handle the event (close)</p>
      <app-notification-close-demo/>
    </section>

    <section appSection>
      <h2>Customization</h2>
      <p>Default button is a set of different styles</p>
    </section>
  </div>
</div>
