<div appPage>
  <header appPageHeader>
    <h1>Notification</h1>
    <p>
      SupButtonModule is a module with components supButton, supIconButton are components to use them with native button
      and
      a elements. See setup to prepare workspace for the buttons
    </p>
  </header>

  <hr appPageDivider/>

  <div appSectionWrapper>
    <section appSection>
      <h2>Status</h2>
      <app-notification-status-demo/>
    </section>

    <section appSection>
      <h2>Close Event</h2>
      <p>Default button is a set of different styles</p>
      <app-notification-close-demo/>
    </section>

    <section appSection>
      <h2>Customization</h2>
      <p>Default button is a set of different styles</p>
    </section>
  </div>
</div>
