<div appPage>
  <header url="https://github.com/v-borodin/supply-ui/tree/develop/libs/uikit/components/button" appPageHeader>
    <h1>Notification</h1>
    <p>
      SupButtonModule is a module with components supButton, supIconButton are components to use them with native button
      and
      a elements. See setup to prepare workspace for the buttons
    </p>
  </header>

  <hr appPageDivider/>

  <div appSectionWrapper>
    <section appSection>
      <h2>Status</h2>
      <p>Default button is a set of different styles</p>
      <app-notification-status-demo/>
    </section>

    <section appSection>
      <h2>Size & Shape</h2>
      <p>Default button is a set of different styles</p>
    </section>

    <section appSection>
      <h2>States</h2>
      <p>Default button is a set of different styles</p>
    </section>

    <section appSection>
      <h2>Customization</h2>
      <p>Default button is a set of different styles</p>
    </section>
  </div>
</div>
