.data-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 12rem;

  text-align: center;

  background-color: var(--sup-color-scale-gray-1);
  border: 1px dashed var(--sup-color-scale-gray-7);
  border-radius: var(--sup-radius-md);

  .wrapper {
    max-width: 15rem;
  }
}
