<div class="d-flex gap-x-4">
  <button size="sm" appearance="secondary" supButton>
    Small Button
  </button>
  <button size="md" appearance="secondary" supButton>
    Medium Button
  </button>
  <button size="lg" appearance="secondary" supButton>
    Large Button
  </button>
</div>

<hr class="sup-divider"/>

<div class="d-flex gap-x-4">
  <button size="sm" shape="square" appearance="secondary"
          supButton>
    Small Button
  </button>
  <button size="md" shape="square" appearance="secondary"
          supButton>
    Medium Button
  </button>
  <button size="lg" shape="square" appearance="secondary"
          supButton>
    Large Button
  </button>
</div>
