<div appPage>
  <header appPageHeader>
    <h1>Textfield</h1>
    <p>
      SupTextFieldComponent allows you to display an input element in various styles, sizes and states. This component
      also works with Angular reactive forms (ReactiveFormsModule)
    </p>
  </header>

  <hr appPageDivider/>

  <div appSectionWrapper>
    <section appSection>
      <h2>Basic Example</h2>
      <app-text-field-basic-demo/>
    </section>

    <section appSection>
      <h2>Icon Field</h2>
      <app-text-field-icon-demo/>
    </section>

    <section appSection>
      <h2>Field States</h2>
      <app-text-field-icon-demo/>
    </section>
  </div>
</div>
