<div appPage>
  <header appPageHeader>
    <h1>Dialog</h1>
    <p>
      SupButtonModule is a module with components supButton, supIconButton are components to use them with native button
      and
      a elements. See setup to prepare workspace for the buttons
    </p>
  </header>

  <hr appPageDivider/>

  <div appSectionWrapper>
    <section appSection>
      <h2>Dialog with TemplateRef</h2>
      <app-dialog-template-demo/>
    </section>

    <section appSection>
      <h2>Dialog with component</h2>
      <app-dialog-component-demo/>
    </section>
  </div>

</div>
